.gradle
local.properties
.idea/
build
CoffeeEnterprise/build/
slidingmenu-library/
viewpagerindicator/
pulltorefresh-library/
library/
.DS_Store
crashlytics-build.properties
com_crashlytics_export_strings.xml
*.iml
